#qty{
    display: flex;
    gap: 5px;
    margin-top: 60px;
    margin-left: 20px;
}
#addtocart{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
#addtocart__left{
    width: 75%;
}
#addtocart__left>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    height: 170px;
}
#addtocart__left>div>div:nth-child(1){
    width: 20%;
}
#addtocart__left>div>div:nth-child(1)>img{
    width: 50px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 10px;
}
#qty{
    width: 120px;
    height: 40px;
    margin-top: 75px;
}
#qty>div>button{
    width: 30px;
    height: 30px;
    border: 1px solid #0b1320;
    background-color: #0b1320;
    color: white;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
#qty>div>h4{
    padding-top: 5px;
}
#addtocart__left>div>div:nth-child(3){
    text-align: center;
    width: 50%;
}
#addtocart__left>div>div:nth-child(3)>p{
    padding-top: 85px;
    color: #0b1320;
}
#addtocart__left>div>div:nth-child(4){
    width: 20%;
}
#addtocart__left>div>div:nth-child(4)>h1{
    padding-top: 80px;
    color: #0b1320;
}
#addtocart__left>div>div:nth-child(5){
    width: 20%;
}
#addtocart__left>div>div:nth-child(5)>button{
    margin-top: 70px;
    width: 50px;
    height: 50px;
    border: 1px solid #0b1320;
    background-color: #0b1320;
    color: white;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
#addtocart__right{
    width: 20%;
    height: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 20px;
    border-radius: 10px;
}
#addtocart__right{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#addtocart__right>h3{
    color: #0b1320;
}
#addtocart__right>p{
    padding-top: 20px;
    padding-bottom: 20px;
}
#addtocart__right__but{
    margin-top: 20px;
    width: 200px;
    height: 35px;
    border: 1px solid #0b1320;
    background-color: #0b1320;
    color: white;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}
#addtocart__right__but:hover{
    border: 1px solid #0b1320;
    background-color: #fff;
    color: #0b1320;
}
