
#payment{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    background-image: url("https://hibu.com/var/site/storage/images/_aliases/optimized_original/0/0/5/9/289500-3-eng-US/assistant_pttn_bkgd.png");
}
#payment-div{
    width: 40%;
    height: 900px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 100px;
}
#payment-div>h1{
    color: #2d3e52;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}
#onlinepayment{
    display: flex;
    width: 80%;
    margin: auto;
    gap:40px;
    margin-top: 30px;
}
.paytm{
    width: 70px;
    height: 50px;
    margin-left: 40px;
    cursor: pointer;
}
.googlepay{
    width: 50px;
    height: 45px;
    margin-left: 20px;
    cursor: pointer;
}
.phonepay{
    width: 50px;
    height: 45px;
    margin-left: 20px;
    cursor: pointer;
}
.applepay{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}
#payment-div>h4{
    color: #2d3e52;
    padding-left: 50px;
    padding-top: 30px
}
#payment-div>label{
    padding-left: 50px;
    padding-top: 20px;
}
#payment-div>input{
    margin-left: 50px;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #2d3e52;
    border-radius: 5px;
}
#payment-but{
    margin-top: 30px;
    margin-left: 50px;
    width: 400px;
    height: 40px;
    background-color: #2d3e52;
    color: white;
    border: 1px solid #2d3e52;
    border-radius: 5px;
    cursor: pointer;
}
#success{
    text-align: center;
    margin-top: 50px;
}
#payment-div-right{
    width: 40%;
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 500px;
    border-radius: 20px;
    background-color: #2d3e52;
}

#addre-div-right{
    width: 80%;
    margin: auto;
    margin-top: 90px;
    margin-left: 80px;
    margin-right: 30px;
    margin-bottom: 30px;
    line-height: 40px;
    color: white;
}
#addre-div-right>h4{
    color: gray;
}
.doorno{
    padding-top: 50px;
}